
  <h2 class="main-title">Projekty</h2>
  <div *ngFor="let post of posts; let i = index" class="post">
      <div *ngIf="editedPostIndex !== i">
          <h3 class="gen-title">{{ post.title }}</h3>
          <p class="gen-content">{{ post.content }}</p>
          <p class="gen-priority">{{ post.priority }}</p>
          <p class="gen-status">{{ post.status }}</p>
          <p class="gen-functionality">{{ post.funkcjonalnosc }}</p>
          <button (click)="onDelete(i)">Delete</button>
          <button (click)="onEdit(post, i)">Edit</button>
          <button [routerLink]="['/details', i]">Details</button>

      </div>
      <div *ngIf="editedPostIndex === i && editedPost">
        <input [(ngModel)]="editedPost.title" placeholder="Tytuł projektu">
        <textarea [(ngModel)]="editedPost.content" placeholder="Opis projektu"></textarea>
        <select [(ngModel)]="editedPost.status">
            <option value="Do zrobienia">Do zrobienia</option>
            <option value="W trakcie">W trakcie</option>
            <option value="Zrobione">Zrobione</option>
        </select>
        <select [(ngModel)]="editedPost.priority">
            <option value="Wysoki">Wysoki</option>
            <option value="Średni">Średni</option>
            <option value="Niski">Niski</option>
        </select>
        <button (click)="updatePost()">Update</button>
        <button (click)="cancelEdit()">Cancel</button>

    </div>
  </div>
