.main-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post {
  margin-bottom: 20px;
}

.gen-title {
  font-size: 18px;
  font-weight: bold;
}

.gen-content {
  margin-top: 5px;
}

.gen-priority,
.gen-status,
.gen-functionality,
.gen-details {
  margin-top: 10px;
}

.edit-mode-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.edit-mode input,
.edit-mode textarea,
.edit-mode select {
  margin-bottom: 10px;
}

.edit-mode button {
  margin-right: 10px;
}

.edit-button {
  margin-top: 10px;
}
